# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.coverage
*.coverage.*
*.coveragerc
myvenv/
venv/
env/
ENV/

# Django
*.log

# Nginx SSL certificates
nginx/ssl/*.pem
nginx/ssl/*.crt
nginx/ssl/*.key

# IDE
.vscode/
.idea/
*.swp
*.swo
*~


# OS
.DS_Store
Thumbs.db

.config/
