# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
myvenv/
venv/
env/
ENV/

# Django
*.log


# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

.config/
